# Node
node_modules/
dist/

# Env
.env
.env.local
.env.production
backend/.env
frontend/.env*

# Terraform
.terraform/
**/.terraform/
node_modules/
**/node_modules/
.env
*.tfvars
*.tfstate
*.tfstate.*
dist/